{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello CartController!{% endblock %} #}

{# {% block body %} #}
{# <style> #}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
{# </style> #}

{# <div class="example-wrapper"> #}
{#    <h1>Hello {{ controller_name }}! ✅</h1> #}

{#    This friendly message is coming from: #}
{#    <ul> #}
{#        <li>Your controller at <code><a href="{{ '/home/rustam/sda/src/Controller/CartController.php'|file_link(0) }}">src/Controller/CartController.php</a></code></li> #}
{#        <li>Your template at <code><a href="{{ '/home/rustam/sda/templates/cart/index.html.twig'|file_link(0) }}">templates/cart/index.html.twig</a></code></li> #}
{#    </ul> #}
{# </div> #}
{# {% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="cart">
        {% for flash_success in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">{{ flash_success }}</div>
        {% endfor %}
        <nav aria-label="breadcrumb" class="py-3">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="breadcrumb-item active" aria-current="page">Panier</li>
            </ol>
        </nav>
        {% if cart %}
            {{ dump(app.session.get('cart')) }}
            <table class="table-responsive-sm col-10" style="margin: auto">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th></th>
                </tr>
                </thead>
                {% set total =0 %}
                {% set quantity =0 %}
                {% for  key,row in cart %}
                    {% if key matches '/^\\d+$/' %}
                        <tr id="prod{{ key }}">
                            <td style="vertical-align: middle"><img class="img-fluid img_cart" alt="{{ row.name }}"
                                     src="/assets/images/PRODUCTS/{{ row.picture }}"></td>
                            <td style="vertical-align: middle">{{ row.name }}</td>
                            <td style="vertical-align: middle">{{ row.description | raw }}</td>
                            <td style="vertical-align: middle">{{ row.price }}</td>
                            <td style="vertical-align: middle">
                                <form action="{{ path('cart_update') }}" method="POST">
                                    <input hidden name="id" id="{{ key }}" value="{{ key }}">
                                    <div class="d-flex">
                                        <button class="btn btn-link px-2" style="height: 25px"
                                            {# onclick="this.parentNode.querySelector('input[type=number]').stepDown()"#}
                                             onclick="updateCountCart(this.form, {{ key }}, -1)"
                                        >
                                            <i class="fas fa-minus"></i>
                                        </button>
                                        <input type="number" class="form-control-xl" name="qty" id="qty[{{ key }}]"
                                               value="{{ row.qty }}" min="1" max="{{ row.stock }}"
                                               onchange="this.form.submit()"
                                            {# onchange="updateProduct(this.form)"#}
                                               style="width: 40px; border: none">
                                        <button class="btn btn-link px-2" style="height: 25px"
                                            {# onclick="this.parentNode.querySelector('input[type=number]').stepUp()"#}
                                             onclick="updateCountCart(this.form, {{ key }}, 1)"
                                        >
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </form>
                                 <span style="font-size: xx-small" class="pt-2">{{ row.stock }} piéces dispo</span>
                            </td>
                            <td style="vertical-align: bottom">
                                <form action="{{ path('cart_delete') }}" method="POST">
                                    <input hidden name="id" value="{{ key }}">
                                    <input hidden class="form-control" name="qty" id="qty[{{ key }}]" value="0">
                                    <button type="submit">
                                        <i class="fas fa-trash fa-sm" style="color: #B0413E"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% set total = total + row.qty*row.price %}
                        {% set quantity = quantity + row.qty %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <h3>Total ({{ quantity }} article{% if quantity >1 %}s{% endif %}) :</h3>
                    </td>
                    <td colspan="2" class="text-success">
                        <h3 id="total">{{ total }} €</h3>
                    </td>
                    <td>
                        {% if app.user %}
                            <a href="{{ path('valid') }}" class="add_cart">Valider</a>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="add_cart">Valider</a>
                        {% endif %}
                    </td>
                </tr>
            </table>
        {% else %}
            <div class="text-center pl-3 pr-3 d-flex flex-wrap justify-content-center"
                 style="height: 80px; background-color: #989100;
                 vertical-align: middle; display: table-cell">
                <h1 class="pt-3">Votre panier est vide.<br>
                    <a href="{{ path('prodlist') }}">
                        Cliquez ici pour commencer à le remplir
                    </a>
                </h1>
            </div>
        {% endif %}
    </div>
    </div>
{% endblock %}