{# {% extends 'base.html.twig' %} #}

{# {% block title %}Hello CartController!{% endblock %} #}

{# {% block body %} #}
{# <style> #}
{#    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; } #}
{#    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; } #}
{# </style> #}

{# <div class="example-wrapper"> #}
{#    <h1>Hello {{ controller_name }}! ✅</h1> #}

{#    This friendly message is coming from: #}
{#    <ul> #}
{#        <li>Your controller at <code><a href="{{ '/home/rustam/sda/src/Controller/CartController.php'|file_link(0) }}">src/Controller/CartController.php</a></code></li> #}
{#        <li>Your template at <code><a href="{{ '/home/rustam/sda/templates/cart/index.html.twig'|file_link(0) }}">templates/cart/index.html.twig</a></code></li> #}
{#    </ul> #}
{# </div> #}
{# {% endblock %} #}

{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="zaebal">
        {% for flash_success in app.flashes('danger') %}
            <div class="alert alert-danger" role="alert">{{ flash_success }}</div>
        {% endfor %}
        <div class="container py-2">
            {% if cart %}
            {#        {{ dump(app.session.get('cart')) }} #}
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th></th>
                </tr>
                </thead>
                {% set total =0 %}
                {% set quantity =0 %}
                {% for  key,row in cart %}
                    {% if key matches '/^\\d+$/' %}
                        <tr>
                            <td><img class="img-fluid img_cart" src="/assets/images/PRODUCTS/{{ row.picture }}"></td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.description | raw }}</td>
                            <td>{{ row.price }}</td>
                            <form action="{{ path('cart_update') }}" method="POST">
                                <td>
                                    <input hidden name="id" value="{{ key }}">
                                    <input type="number" class="form-control" name="qty" id="qty[{{ key }}]"
                                           value="{{ row.qty }}" min="0" max="{{ row.stock }}"
                                           onchange="this.form.submit()">
                                    <p style="font-size: smaller" class="pt-2">{{ row.stock }} piéces disponible</p>
                                </td>
                            </form>
                            <form action="{{ path('cart_update') }}" method="POST">
                                <input hidden name="id" value="{{ key }}">
                                <input hidden class="form-control" name="qty" id="qty[{{ key }}]" value="0">
                                <td>
                                    <button type="submit" id="button_del">Supprimer</button>
                                </td>
                            </form>
                        </tr>
                        {% set total = total + row.qty*row.price %}
                        {% set quantity = quantity + row.qty %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="3">
                        <h3>Total ({{ quantity }} article{% if quantity >1 %}s{% endif %}) :</h3>
                    </td>
                    <td colspan="2" class="text-success">
                        <h3>{{ total }} €</h3>
                    </td>
                    <td>
                        {% if app.user %}
                            <a href="{{ path('valid') }}" class="add_cart">Valider</a>
                        {% else %}
                            {#                        <a href="{{ path('app_login') }}" class="add_cart">Valider</a> #}
                        {% endif %}
                    </td>
                </tr>
                {% else %}
                    <div class="col-sm-12 text-center p-4">
                        <span class=""></span>
                        <h1>Votre panier est vide</h1>
                        <h3><a href="{{ path('prodlist') }}">Bienvenue à le remplir!</a></h3>
                        <img class="img-fluid" width="400" src="/assets/images/BODY/empty_cart.jpg">
                    </div>
                {% endif %}
            </table>
        </div>
    </div>
{% endblock %}