{% extends 'base.html.twig' %}


{% block body %}
{#    <section>#}
{#        <div class="container bg-center zaebal">#}
{#            #}{#    {{ dump((list|first)) }} #}
{#            <nav aria-label="breadcrumb">#}
{#                <ol class="breadcrumb">#}
{#                    <li class="breadcrumb-item">#}
{#                        <a href="{{ path('app_home') }}" title="Accueil">#}
{#                            Accueil#}
{#                        </a>#}
{#                    </li>#}
{#                    {% if (list|first) %}#}
{#                    <li class="breadcrumb-item">#}
{#                        <a href="{{ path('subcatlist', { id: (list|first).subcat.category.id}) }}">#}
{#                            {{ (list|first).subcat.category.name }}#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="breadcrumb-item active" aria-current="page">#}
{#                        {{ (list|first).subcat.name }}#}
{#                    </li>#}
{#                    {% else %}#}
{#                </ol>#}
{#            </nav>#}
{#            <h3 style="text-align: center">Ce produit n'exist pas</h3>#}
{#            {% endif %}#}

{#            <div id="results" class="container-fluid pb-4">#}
{#                {% for product in list %}#}
{#                    <article class="results_product_item">#}
{#                        <a href=""#}
{#                        <a href="{{ path('prod_details',{id : product.id}) }}"#}
{#                           class="results_product_item_image_container">#}
{#                            <img src="http://localhost/assets/images/PRODUCTS/{{ product.picture }}"#}
{#                                 alt="{{ product.picture }}"#}
{#                                 class="results_product_item_image lazyload"/>#}
{#                        </a>#}
{#                        <div class="results_product_item_content">#}
{#                            <div class="results_product_item_category">#}
{#                                {{ product.label }}#}
{#                            </div>#}
{#                            <a href=""#}
{#                               class="results_product_item_name">#}
{#                                {{ product.name }}#}
{#                            </a>#}
{#                            <div class="results_product_item_price">#}
{#                                &euro;{{ product.price }}#}
{#                            </div>#}
{#                        </div>#}
{#                    </article>#}
{#                {% endfor %}#}
{#            </div>#}

{#            <div>#}
{#                {{ knp_pagination_render(list) }}#}
{#            </div>#}
{#        </div>#}
{#    </section>#}


    <div class="products-list row zaebal">
        <div class="product-card cell-xl-3 cell-lg-4 cell-sm-6 cell-xs-12">
            <div class="card-inner">
                <div class="product-photo">
                    <a href="/product/klubnika-podushechki-vkusti-hrusti" title="Клубничные подушечки Вкусти Хрусти" class="product-link with-object-fit">
                        <img src="https://static.insales-cdn.com/images/products/1/7569/325008785/large_large_вкусти_клубника.png" alt="Клубничные подушечки Вкусти Хрусти" title="Клубничные подушечки Вкусти Хрусти" class="product-image">
                    </a>
                </div><!-- /.product-photo -->
                <div class="product-caption">
                    <div class="product-title">
                        <a href="/product/klubnika-podushechki-vkusti-hrusti" class="product-link" title="/product/klubnika-podushechki-vkusti-hrusti">
                            Клубничные подушечки Вкусти Хрусти
                        </a>
                    </div>
                    <div class="product-introtext">Любимое лакомство многих - это многозерновые подушечки с клубничной начинкой. Производитель поста...</div>
                </div><!-- /.product-caption -->
                <div class="product-prices">
        <span class="price">
          90,-
        </span>
                </div><!-- /.product-prices -->
                <form class="product-control without-old-price without-sku is-available" method="post" action="/cart_items" data-product-id="92805930">
                    <input type="hidden" name="variant_id" value="157976238">
                    <div class="counter" data-quantity="" data-quantity-change-init="true">
                        <button class="button button-number count-down" type="button" data-quantity-change="-1">
                            <i class="icon ion-ios-minus-empty"></i></button>
                        <input type="text" value="1" min="1" max="1000" name="quantity" class="input-number input-field">
                        <button class="button button-number count-up" type="button" data-quantity-change="1">
                            <i class="icon ion-ios-plus-empty"></i></button>
                    </div><!-- /.counter -->
                    <div class="buy text-right-xl">
                        <button class="button button-buy button-primary" type="submit" data-item-add="">
                            <i class="icon icon-cart" style="font-size: 25px"></i></button>
                    </div><!-- /.buy -->
                </form><!-- /.product-control -->
            </div><!-- /.card-inner -->
        </div><!-- /.product-card -->
    </div>
{% endblock %}
