{% extends 'base.html.twig' %}


{% block body %}
    {#    {{ dump(app.session.get('cart')) }} #}

    <div class="zaebal">

        {#                {{ dump(list_promos) }} #}

        {% if (list_promos|first) %}
            <nav aria-label="breadcrumb" class="offset-2 col-10">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{{ path('home') }}" title="Accueil">
                            Accueil
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Nos promotions
                    </li>
                </ol>
            </nav>
            <div class="d-flex flex-wrap">
                <div class="col-lg-2 col-md-12 col-sm-12">
                    <div class="slider">
                        {% for promos in list_promos %}
                            <article class="results_product_item product-card mb-4"
                                     style="background-color: #989100; border-radius: 10px; height: 190px">
                                <div class="d-flex flex-wrap justify-content-center" style="background-color: #989100">
                                    <a class="results_product_item_image_container"
                                       href="{{ path('prodlist2', {id:promos.subcat.id}) }}"
                                       title="{{ promos.subcat.name }}">
                                        <img src="http://localhost:8000/assets/images/PRODUCTS/{{ promos.picture }}"
                                             alt="{{ promos.picture }}"
                                             class="img-fluid results_product_item_image lazyload"
                                             style="
                                             /*filter: brightness(40%);*/
                                             height: 120px;
                                             border-radius: 5px">
                                    </a>
                                    {% if promos.promo %}
                                        <div class="price-block">
                                            -{{ (100-promos.promo/promos.price*100)|number_format(0, '.', ' ') }}%
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="product-caption">
                                    <div class="product-title">
                                        <a href="{{ path('prodlist2', {id:promos.subcat.id}) }}"
                                           title="{{ promos.subcat.name }}">
                                            {{ promos.name }}
                                        </a>
                                    </div>
                                </div>
                            </article>
                        {% endfor %}
                    </div>
                </div>

                <div id="results" class="container-fluid col-lg-10 col-md-12 col-sm-12">
                    {% for product in list_promos %}
                        <article class="results_product_item product-card mb-4" style="border-radius: 10px">
                            <div class="d-flex flex-wrap justify-content-center">
                                <a class="results_product_item_image_container"
                                   href="{{ path('prodlist2', {id:product.subcat.id}) }}"
                                   title="{{ product.subcat.name }}">
                                    <img src="http://localhost:8000/assets/images/PRODUCTS/{{ product.picture }}"
                                         alt="{{ product.picture }}"
                                         class="img-fluid results_product_item_image lazyload">
                                </a>
                                {% if product.promo %}
                                    <div class="price-block">
                                        -{{ (100-product.promo/product.price*100)|number_format(0, '.', ' ') }}%
                                    </div>
                                {% endif %}
                            </div>
                            <div class="product-caption">
                                <div class="product-title">
                                    <a href="{{ path('prodlist2', {id:product.subcat.id}) }}"
                                       title="{{ product.subcat.name }}">
                                        {{ product.name }}
                                    </a>
                                </div>
                                <div class="product-description">
                                    {{ product.description | raw }}
                                </div>

                                <div class="d-flex flex-wrap justify-content-between">
                                    {% if product.promo %}
                                        <div>
                                            {# <span class="badge badge-pill badge-danger" style="font-size: small"> #}
                                            {#- {{ (100-product.promo/product.price*100)|number_format(0, '.', ' ') }} % #}
                                            {# </span> #}
                                            <div class="product-prices">
                                                <span class="price">&euro; {{ product.promo }}  </span>
                                            </div>
                                            {#                                        <div class="product-prices"> #}
                                            <strike>
                                                <strong>
                                                    <span class="price" style="font-size: 1.8rem; color: #9E9E9E">
                                                        &euro; {{ product.price }}
                                                    </span>
                                                </strong>
                                            </strike>
                                            {#                                        </div> #}
                                        </div>
                                    {% else %}
                                        <div class="product-prices">
                                            <strong><span class="price">&euro; {{ product.price }} </span></strong>
                                        </div>
                                    {% endif %}

                                    {% if product.stock > 0 %}
                                    <p class="pt-2">{{ product.stock }} piéces disponible</p>
                                </div>
                                {#                            <form method="post" action="{{ path('cart_add') }}"> #}
                                {#                                <div class="quantity_inner"> #}
                                {#                                    <input type="hidden" name="id" value="{{ product.id }}"> #}
                                {#                                    <input type="hidden" name="name" value="{{ product.name }}"> #}
                                {#                                    <input type="hidden" name="picture" value="{{ product.picture }}"> #}
                                {#                                    <input type="hidden" name="description" value="{{ product.description }}"> #}
                                {#                                    <input type="hidden" name="price" value="{{ product.price }}"> #}
                                {#                                    <a class="bt_minus"> #}
                                {#                                        <svg viewBox="0 0 24 24" class="feather feather-minus"> #}
                                {#                                            <line x1="5" y1="12" x2="19" y2="12"></line> #}
                                {#                                        </svg> #}
                                {#                                    </a> #}
                                {#                                    <input name="qty" id="qty" type="text" #}
                                {#                                           value="{% if product.id in app.session.get('cart')|keys %}{{ app.session.get('cart')[product.id]['qty'] }}{% else %}1{% endif %}" #}
                                {#                                           size="2" class="quantity" #}
                                {#                                           data-max-count="{{ product.stock }}"/> #}
                                {#                                    <a class="bt_plus"> #}
                                {#                                        <svg viewBox="0 0 24 24" class="feather feather-plus"> #}
                                {#                                            <line x1="12" y1="5" x2="12" y2="19"></line> #}
                                {#                                            <line x1="5" y1="12" x2="19" y2="12"></line> #}
                                {#                                        </svg> #}
                                {#                                    </a> #}
                                {#                                    <button #}
                                {#                                            type="submit" #}
                                {#                                            class="bt_buy" #}
                                {#                                    > #}
                                {#                                        <svg viewBox="0 0 24 24"> #}
                                {#                                            <circle cx="9" cy="21" r="1"></circle> #}
                                {#                                            <circle cx="20" cy="21" r="1"></circle> #}
                                {#                                            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path> #}
                                {#                                        </svg> #}
                                {#                                    </button> #}
                                {#                                </div> #}
                                {#                            </form> #}
                                {% else %}
                                    <p class="pt-2">Ce produit n'est pas disponible</p>
                                {% endif %}
                            </div>
                        </article>
                    {% endfor %}
                    {#            {{ dump(app.session.get('cart')) }} #}
                </div>
            </div>
        {% else %}
            <div class="text-center pl-3 pr-3 d-flex flex-wrap justify-content-center"
                 style="height: 80px; background-color: #989100; vertical-align: middle; display: table-cell">
                <h1 class="pt-3">Il n'y a pas encore de produits dans cette catégorie. Nous y travaillons.</h1>
            </div>
        {% endif %}
    </div>
{% endblock %}
