{{ form_start(form) }}
{#    {{ form_widget(form) }} #}
{#    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button> #}

<div class="d-flex flex-wrap">
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.name) }} <br>
        {{ form_row(form.subcat) }} <br>
        {{ form_row(form.price) }} <br>
        {{ form_row(form.promo) }} <br>
        {{ form_row(form.stock) }} <br>
        {{ form_row(form.picture) }}
    </div>
    <div class="col-lg-6 col-sm-12 px-5">
        {{ form_row(form.description) }}
    </div>
</div>
<div class="text-center py-5">
{#    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>#}
    <button class="cart_button">{{ button_label|default('Enregistrer') }}</button>

</div>

{{ form_end(form) }}
