{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <div class="container zaebal">
        <h1>Product</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description | raw }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img class="img-fluid" height="30%" src="/assets/images/PRODUCTS/{{ product.picture }}"></td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ product.stock }}</td>
            </tr>
            <tr>
                <th>Date_add</th>
                <td>{{ product.dateAdd ? product.dateAdd|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Date_update</th>
                <td>{{ product.dateUpdate ? product.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            </tbody>
        </table>

{#        <a href="{{ path('app_product_index') }}">back to list</a>#}

{#        <a href="{{ path('app_product_edit', {'id': product.id}) }}">edit</a>#}

{#        {{ include('product/_delete_form.html.twig') }}#}

        <div class="container justify-content-between d-flex flex-wrap py-2">
            <a class="btn btn-secondary" href="{{ path('app_product_index') }}">Retour</a>
            <a class="btn btn-warning" href="{{ path('app_product_edit', {'id': product.id}) }}">Editer</a>

            <form method="post" action="{{ path('app_product_delete', {'id': product.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet élément?');">
                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
                <button class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}
