<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Saveurs d'Armenie{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
          integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
          integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

    <link href="https://localhost:8000/assets/theme.css" type="text/css" rel="stylesheet">

    {#    icons #}
    <link href="https://static.insales-cdn.com/assets/1/7151/850927/1639401906/fonts.css" rel="stylesheet"
          type="text/css">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous"
          rel="stylesheet"/>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>

    {#  logo icon in the top of browser  #}
    <link rel="apple-touch-icon" sizes="180x180" href="https://localhost:8000/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://localhost:8000/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://localhost:8000/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://localhost:8000/assets/images/favicon/site.webmanifest">

    {# pour js-mobile-catalog-toggle #}
    <link href="https://localhost:8000/assets/base.css" type="text/css" rel="stylesheet">
    <link href="https://localhost:8000/assets/layouts.css" type="text/css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://localhost:8000/assets/style.css" type="text/css" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/f7nrvb0b2s521028a10roouemfhy288eiu43bb2vnnrcqelq/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({
            selector: 'textarea',
            menubar: true,
            plugins: 'code',
            plugins: 'lists',
            toolbar: 'numlist bullist'
        });</script>
</head>
<body style="max-width: 1300px">
<header class="main-header">
    <div class="top-header">
        <div class="container">
            <a href="" class="mobile-catalog-toggle js-mobile-catalog-toggle">
                <i class="fa fa-bars"></i>
                Catalogue
            </a>
            <ul class="top-menu clear-list">
{#                <li> #}
                {#                    <a href="" title="Blog">Blog</a> #}
                {#                </li>#}
                <li>
                    <a href="#jump-here" title="Contacts">Contacts</a>
                </li>
            </ul>
            <ul class="social clear-list">
                <li>
                    <a href="https://instagram.com/saveursdarmenie/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/nazelie.hunanyan">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-content d-flex flex-wrap justify-content-between">
        <div class="container col-xl-4 col-lg-4 col-md-8 col-sm-8 col-6">
            <a href="/" class="logo" title="Saveurs d'Arménie">
                <img class="img-fluid w-70" src="https://localhost:8000/assets/images/header/gold.jpg">
            </a>
        </div>
        <div class="container offset-1 col-xl-7 col-lg-7 col-md-3 col-sm-3 col-5">
            <ul class="clear-list d-flex">
                <li style="padding-top: 3px; padding-right: 11px">
                    <form action="{{ path('prodlist_search') }}" method="get"
                          class="search-widget-form d-none d-lg-block">
                        <input id="search-widget-input" class="input-field search-input"
                               type="text" placeholder="Que recherchez-vous?" name="value">
                        <button class="button-circle is-primary shadow-none" type="submit">
                            <ion-icon name="search-outline"></ion-icon>
                        </button>
                        {% if app.request.query.get('value') %}
                            {% for label, messages in app.flashes(['success', 'warning']) %}
                                {% for message in messages %}
                                    <div class="flash-{{ label }}">
                                        {{ message }} {{ app.request.query.get('value') }}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </form>
                </li>
{#                {% if app.user %}#}
                <li>
{#                     <a class="navbar-brand" title="Copmte" href="{{ path('app_login') }}"> #}
{#                          <ion-icon class="button-person" name="person-circle-outline"></ion-icon> #}
{#                     </a> #}
                    {% if app.user and app.user.roles[0]=="ROLE_ADMIN" %}
                        <a href="#" id="navbaruserDropdown" data-toggle="dropdown">
                            <ion-icon class="button-person" name="person-circle-outline"></ion-icon>
                        </a>
                        <ul class="dropdown-menu login-icon-drop" aria-labelledby="navbaruserDropdown">
{#                            <li>#}
{#                                <a class="dropdown-item" href="{{ path('contacts') }}">#}
{#                                    MON PROFIL#}
{#                                </a>#}
{#                            </li>#}
{#                            <li>#}
{#                                <a class="dropdown-item" href="{{ path('my_orders') }}">#}
{#                                    MES COMMANDES#}
{#                                </a>#}
{#                            </li>#}
                            <li>
                                <a class="dropdown-item" href="{{ path('app_logout') }}">
                                    DECONNEXION
                                </a>
                            </li>
                        </ul>
{#                    {% else %}#}
{#                        <a href="{{ path('app_login') }}">#}
{#                            <ion-icon title="Copmte" class="button-person" name="person-circle-outline"></ion-icon>#}
{#                        </a>#}
                    {% endif %}
                </li>
{#                <li class="shopcart-widget" style="padding-top: 7px; padding-left: 4px">#}
{#                    <a title="Panier"#}
{#                       href="{{ path('cart') }}"  onclick="openNav()"#}
{#                       class="button-circle is-primary">#}
{#                        #}{#<i class="icon ion-ios-cart-outline"></i>#}
{#                         <span class="iconify" data-icon="ion:cart-outline"></span>#}
{#                        {% if app.session.get('cart') %}#}
{#                            {% set total = 0 %}#}
{#                            {% for key,row in app.session.get('cart') %}#}
{#                                {% set total = total + app.session.get('cart')[key]["qty"] %}#}
{#                            {% endfor %}#}
{#                            <span class="shopcart-counter active" id="bought">#}
{#                                    {{ total }}#}
{#                            </span>#}
{#                        {% else %}#}
{#                            <span class="shopcart-counter active" id="bought">0</span>#}
{#                        {% endif %}#}
{#                    </a>#}
{#                </li>#}
{#                {% endif %}#}
            </ul>
        </div>
    </div>
    <div class="catalog d-none d-lg-block">
        <div>
            <ul class="main-menu">
                {% for category in categories %}
                    <li class="separator"></li>
                    <li class="level-1">
                        <a href="{{ path('subcatlist', {id:category.id}) }}">
                            {{ category.name }}
                        </a>
                        <ul class="level-2">
                            {% for subcat in category.subcats %}
                                <li>
                                    <a title="{{ subcat.name }}"
                                       href="{{ path('prodlist2', {id:subcat.id}) }}"
                                       class="menu-link">
                                        <span class="link-text">{{ subcat.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>

{% block body %}{% endblock %}

<div class="d-flex flex-wrap pt-2 pb-2">
    {% set count = 0 %}
    {% for category in categories %}
        {% if count < 9 %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4 p-1">
                <div class="overlay-image">
                    <a href="{{ path('subcatlist', { id: category.id}) }}">
                        {#                            {% if (category.subcats|first.products|first) %} #}
                        <img class="w-100" src="/assets/images/cats/{{ category.picture }}"
                                {# "/assets/images/PRODUCTS/{{ (category.subcats|first.products|first).picture }}" #}
                             alt="{{ category.name }}" height="210"/>
                        {#                            {% endif %} #}
                        <div class="hover">
                            <div class="cathover border border-dark">
                                    <span class="title" style="vertical-align: middle">
                                        {{ category.name }}
                                    </span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            {% set count = count+1 %}
        {% endif %}
        {#            {{ dump(category.subcats) }} #}
    {% endfor %}
</div>
<div class="remind">
    Nous ne vendons pas d'alcool aux mineurs. CODE DE LA SANTÉ PUBLIQUE : ART. L. 3342-1. L. 3342-3
</div>
<footer>
    <div class="container-fluid">
        <div class="d-flex flex-wrap">
            <div class="col-lg-4 col-md-5 col-sm-5 hide-xs">
                <a href="/" title="Saveurs d'Armenie">
                    <img class="img-fluid w-100" src="https://localhost:8000/assets/images/footer/black.jpg">
                </a>
                <div>
                    <p><span>SAS "Saveurs d'Armenie", 2020<br> Tous les droits sont réservés</span></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 foot-menus">
                <div id="jump-here" class="foot-contacts-inner">
                    <div class="mail" style="font-size: 15px; font-weight: 300; line-height: 21px; margin-bottom: 15px">
                        <span class="iconify" data-icon="ion:clock"
                              style="color: #ffcc00; font-size: 28px; margin-right: 13px">
                        </span>
                        Mardi - Dimanche 10h00 - 19h00
                    </div>
                    <div class="phone">
                        <i class="icon-phone icon"></i>
                        <a href="tel:0617336170" class="tel">0617336170</a>
                        <span class="separ"></span>
                        <a href="tel:0621104405" class="tel">0621104405</a>
                    </div>
                    <div class="address">
                        <i class="icon icon-place"></i>
                        <a href="https://goo.gl/maps/oaopTcRZDP18Rti5A">
                            <div class="address-block">
                                <p>80000, France, <br> Amiens, 219 Av. Louis Blanc</p>
                            </div>
                        </a>
                    </div>
                    <div class="mail" style="font-size: 15px; font-weight: 300; line-height: 21px;">
                        <span class="iconify" data-icon="ion:mail-outline"
                              style="color: #ffcc00; font-size: 28px; margin-right: 18px"></span>
                        <a href="mailto:saveursdarmenie80@gmail.com" class="">saveursdarmenie80@gmail.com</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 foot-contacts">
                <div class="foot-social">
                    <div>
                        <div class="hide-xs" style="opacity: 0.2">Dans les réseaux sociaux:</div>
                        <ul class="social clear-list">
                            <li>
                                <a href="https://instagram.com/saveursdarmenie/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://facebook.com/nazelie.hunanyan">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
{#                <div class="insales">#}
{#                    powered by <a href="https://idbi.ru/">IDBI</a>#}
{#                </div>#}
            </div>
        </div>
    </div>
</footer>

{# pour js-mobile-catalog-toggle #}
<script type="text/javascript" src="https://localhost:8000/assets/jquery.min.js"></script>
<script type="text/javascript" src="https://localhost:8000/assets/layouts.js"></script>

{# catalog #}
<div id="mobile-menu">
    <button class="mobile-menu-close js-mobile-catalog-toggle" style="align-self: start">
        <span>х</span>
        Fermer le catalogue
    </button>
    <br>
    <nav class="navbar">
        <ul class="mobile-menu clear-list menu level-1 navbar-nav">
            <form action="{{ path('prodlist_search') }}" method="get" class="search-widget-form">
                <input id="search-widget-input" class="input-field search-input"
                       type="text" placeholder="Que recherchez-vous?" name="value">
                <button class="button-circle is-primary" type="submit">
                    <i class="icon ion-ios-search"></i>
                </button>
                {% if app.request.query.get('value') %}
                    {% for label, messages in app.flashes(['success', 'warning']) %}
                        {% for message in messages %}
                            <div class="flash-{{ label }}">
                                {{ message }} {{ app.request.query.get('value') }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </form>
            <br>
            {% for category in categories %}
                <div class="dropdown py-3">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" id="dropdownMenuButton" aria-expanded="false"
                       style="font-size: 20px; text-transform: uppercase;">
                        {{ category.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #fff3dd">
                        {% for subcat in category.subcats %}
                            <a href="{{ path('prodlist2', {id:subcat.id}) }}"
                               style="color: #080809; font-size: 20px"
                               class="dropdown-item">
                                {{ subcat.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="opaco js-mobile-catalog-toggle"></div>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script type="text/javascript" src="https://localhost:8000/assets/script.js?id="></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://kit.fontawesome.com/10efd45e1d.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
        integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    $('.slider').slick({
        vertical: true,
        verticalSwiping: true,
        slidesToShow: 4,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2000,
        responsive: [
            {
                breakpoint: 760,
                settings: {
                    slidesToShow: 2,
                    // slidesToScroll: 2,
                    vertical: false,
                    verticalSwiping: false,
                }
            },
            {
                breakpoint: 1000,
                settings: {
                    slidesToShow: 3,
                    // slidesToScroll: 2,
                    vertical: false,
                    verticalSwiping: false,
                }
            }
        ]
    });
</script>

</body>
</html>

{# <script src="https://kit.fontawesome.com/10efd45e1d.js" crossorigin="anonymous"></script> #}


