<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Saveurs d'Armenie{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/10efd45e1d.js" crossorigin="anonymous"></script>

    <link href="https://localhost:8000/assets/fonts.css" type="text/css" rel="stylesheet">
    <link href="https://localhost:8000/assets/theme.css" type="text/css" rel="stylesheet">
    <link href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" crossorigin="anonymous" rel="stylesheet" />
{#    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">#}

    {#    icons#}
{#    <link href="//maxcdn.bootstrapcdn.com/font-awesome/6.1.1/css/font-awesome.min.css" rel="stylesheet">#}

    <link href="https://static.insales-cdn.com/assets/1/7151/850927/1639401906/fonts.css" rel="stylesheet"
          type="text/css">
{#    <link href="https://localhost:8000/assets/fonts_icons.css" type="text/css" rel="stylesheet">#}

    {#  logo icon in browser  #}
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/favicon/site.webmanifest">

    {# pour js-mobile-catalog-toggle #}
    <link href="https://localhost:8000/assets/base.css" type="text/css" rel="stylesheet">
    <link href="https://localhost:8000/assets/plugins.css" type="text/css" rel="stylesheet">
    <link href="https://localhost:8000/assets/layouts.css" type="text/css" rel="stylesheet">

    {#    ////////////////////// #}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://localhost:8000/assets/style.css" type="text/css" rel="stylesheet">

    <script src="https://cdn.tiny.cloud/1/f7nrvb0b2s521028a10roouemfhy288eiu43bb2vnnrcqelq/tinymce/5/tinymce.min.js"
            referrerpolicy="origin"></script>
    <script>tinymce.init({
            selector: 'textarea',
            menubar: true,
            plugins: 'code',
            plugins: 'lists',
            toolbar: 'numlist bullist'
        });</script>
</head>
<body>
<header class="main-header">
    <div class="top-header">
        <div class="container">
            <a href="" class="mobile-catalog-toggle js-mobile-catalog-toggle">
                <i class="fa fa-bars"></i>
                Catalogue
            </a>
            <ul class="top-menu clear-list">
                <li>
                    <a href="" title="Blog">Blog</a>
                </li>
                <li>
                    <a href="" title="Contacts">Contacts</a>
                </li>
            </ul>
            <ul class="social clear-list">
                <li>
                        {% if app.session.get('cart') %}
                            {% set total = 0 %}
                            {% for key,row in app.session.get('cart') %}

                                {% set total = total + app.session.get('cart')[key]["qty"] %}
                            {% endfor %}
                            <span class="badge badge-pill badge-danger">{{ total }}</span>
                        {% endif %}
                </li>
                <li>
                    <a href="https://instagram.com/saveursdarmenie/">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://facebook.com/nazelie.hunanyan">
                        <i class="fa fa-facebook">
                        </i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <a href="/" class="logo" title="Saveurs d'Arménie">
                <img class="img-fluid w-50" src="https://localhost:8000/assets/images/logo/gold.jpg">
            </a>
        </div>
    </div>
    <div class="catalog d-none d-lg-block">
        <div>
            <ul class="main-menu">
                {% for category in categories %}
                    <li class="separator"></li>
                    <li class="level-1">
                        <a href="">
                            {{ category.name }}
                        </a>
                        <ul class="level-2">
                            {% for subcat in category.subcats %}
                                <li class="" data-handle="">
                                    <a title="{{ subcat.name }}"
                                       href="{{path('prodlist2', {id:subcat.id})}}"
                                       class="menu-link">
                                        <span class="link-text">{{ subcat.name }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</header>
{#    {{ dump(app.user) }} #}

{# {% for flash_success in app.flashes('success') %} #}
{#    <div class="alert alert-success" role="alert">{{ flash_success }}</div> #}
{# {% endfor %} #}

{% block body %}{% endblock %}

<footer>
    <div class="container">
        <div class="d-flex flex-wrap">
            <div class="col-lg-3 col-md-5 col-sm-5 hide-xs">
                <a href="/" title="">
                    <img class="img-fluid w-100" src="https://localhost:8000/assets/images/logo/black.jpg">
                </a>
                <div class="">
                    <p><span>SAS "Saveurs d'Armenie", 2017<br> Tous les droits sont réservés</span></p>
                </div>
            </div>
            <div class="col-lg-4 offset-1 col-md-6 col-sm-6 col-xs-12 foot-menus">
                <div class="foot-contacts-inner">
                    <div class="phone">
                        <i class="icon-phone icon"></i>
                        <a href="tel:0617336170" class="tel">0617336170</a>
                    </div>
                    <div class="address">
                        <i class="icon icon-place"></i>
                        <div class="address-block">
                            <p>80000, France, <br> Amiens, 219 Av. Louis Blanc</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 foot-contacts">
                <div class="foot-social">
                    <div class="">
                        <div class="hide-xs" style="opacity: 0.2">Dans les réseaux sociaux:</div>
                        <ul class="social clear-list">
                            <li>
                                <a href="https://instagram.com/saveursdarmenie/">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://facebook.com/nazelie.hunanyan">
                                    <i class="fa fa-facebook">
                                    </i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

{# pour js-mobile-catalog-toggle #}
<script type="text/javascript" src="https://localhost:8000/assets/jquery.min.js"></script>
<script type="text/javascript" src="https://localhost:8000/assets/layouts.js"></script>

<div id="mobile-menu">
    <button class="mobile-menu-close js-mobile-catalog-toggle"><span>х</span>Fermer le catalogue</button>
    <nav class="navbar">
        <ul class="mobile-menu clear-list menu level-1 navbar-nav">
            {% for category in categories %}
                <div class="dropdown py-3">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"
                       role="button" id="dropdownMenuButton" aria-expanded="false"
                       style="font-size: 20px; text-transform: uppercase;">
                        {{ category.name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="background-color: #fff3dd">
                        {% for subcat in category.subcats %}
                            <a href="{{path('prodlist2', {id:subcat.id})}}"
                               style="color: #080809; font-size: 20px"
                               class="dropdown-item">
                                {{ subcat.name }}
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </ul>
    </nav>
</div>
<div class="opaco js-mobile-catalog-toggle"></div>
<script type="text/javascript" src="/assets/script.js"></script>
</body>
</html>

{#<script src="https://kit.fontawesome.com/10efd45e1d.js" crossorigin="anonymous"></script>#}


